<div fxFlex="grow" fxLayoutAlign="center center" style="position: relative; background: lightsalmon">
  <div class="myAbsolute full-width" style="height: 13vh; z-index: 10" fxLayoutAlign="space-between">
    <mlc-to-in-game-menu-button [forceNoAnimations]="true"
      style="width: 13vh;" svgPath="mini-lessons/executive-functions/acrostic/buttons/menu.svg">
    </mlc-to-in-game-menu-button>
    <div fxLayoutAlign="center end" style="transform: translateY(5vh);width: 80%;">
      <div fxLayoutAlign="center center" class="indicator-container" style="transform: translateY(-18vh);">
        <mlc-loaded-svg path="mini-lessons/executive-functions/acrostic/volcan/svg/indicator.svg"
          style="height:14.8vh;width: 12vh; transform: translate(1vh,-1.15vh);"></mlc-loaded-svg>
        <ox-text style="position: absolute; transform: translate(1vh,-0.5vh)" [originalText]="currentWordId"
          fontSize="7.5vh" color="white" font="dinnRegular"></ox-text>
      </div>
      <div fxLayoutAlign="center center" class="explanation-container" style="transform: translateY(-18vh);">
        <mlc-loaded-svg path="mini-lessons/executive-functions/acrostic/volcan/svg/header-background-18.svg"
          style="width: 89vh;"></mlc-loaded-svg>
        <ox-text style="position: absolute;width:85%; transform: translateX(-4vh);" [originalText]="currentWordDefinition" fontSize="3vh" color="black"
          font="dinnRegular"></ox-text>
          <mlc-sound-button svgPath="mini-lessons/executive-functions/acrostic/buttons/sonido-activado.svg"
          style="width: 9.5vh;transform: translateX(0.5vh);cursor: pointer;" (click)="playLoadedSound(currentDescriptionAudio)" *ngIf="currentDescriptionAudio !== '' " >
          </mlc-sound-button>
      </div>
    </div>
    <mlc-hint-button   style="width: 13vh; opacity: 1;"
      svgPath="mini-lessons/executive-functions/acrostic/buttons/pista.svg"
      >
    </mlc-hint-button>
  </div>
  <div fxFlex="grow" fxFlexFill class="myAbsolute">
    <div fxLayoutAlign="center center" style="position: relative;min-height: 100%;min-width: 100%;">
      <mlc-loaded-svg fxFlex="grow" class="myAbsolute" forceViewBoxTo="''"
        path="mini-lessons/executive-functions/acrostic/volcan/svg/background.svg">
      </mlc-loaded-svg>
      <div fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{'transform': answerLargerThan6 ? 'translate(-4.5vh, 0.5vh)' : 'translateY(1.5vh)'}" class="myAbsolute">
        <app-main-letter  #mainLetter style="transform: scale(0); cursor: pointer;"
        (componentInitEmit)="mainLetterCompToArray()"
         [componentInit]="componentsInit[i]"
         [currentId]="currentWordId"
         [init] = "init"
         [correctionWithMayus]="correctionWithMayus"
         [answerLargerThan6]="answerLargerThan6"
         [correctionWithAccent]="correctionWithAccent"
          *ngFor="let letter of exerciseWordArray; let i = index" [exerciseWordArray]="exerciseWordArray"
          [mainLetter]="letter" [answerWord]="horizontalWords[i]"></app-main-letter>
      </div>
    </div>
    <div class="elements-container" fxLayoutAlign="center center" style="height: 10.5vh;">
      <mlc-footer #footer class="button-menu" style=" width: 97.5%; height: 12vh;" 
      trySvg="mini-lessons/executive-functions/acrostic/buttons/check.svg" 
      [forceNoNextButton]="true"
      surrenderSvg="mini-lessons/executive-functions/acrostic/buttons/surrender.svg" 
      resultsSvg="mini-lessons/executive-functions/acrostic/buttons/copa-memotest.svg"
      ></mlc-footer>
    </div>
  </div>
</div>
<!-- <ox-comp-count-down *ngIf="countDownImageInfo"
  (timeUpdated)="onCountDownTimeUpdated()"
  [skipButtonInfo]="countDownImageInfo"
  (started)="startGame()"
  class="myAbsolute" fxFlex="grow" style="z-index: 123"></ox-comp-count-down> -->