.word-container {
    width: 9.5vh;
    object-fit: contain;
     position: absolute;
}


.input {
    width: 43%;
    height: 50%;
    z-index: 10;
    border:0;
    transform: translateX(1vh);
    outline: 0;
    font-size: 4.5vh;
}


.div-container {
    position: relative;
    height: 100%;
    width: 9.5vh;
    margin-right: 0.6vh;
    display: flex;
    justify-content: center;
}