<div [ngClass]="answerLargerThan6 ? 'word-container-small': 'word-container'" fxLayoutAlign="center center">
<div div *ngFor="let space of spaceToAddLeft" class="div-container" fxLayoutAlign="center center">
</div> 
<div class="div-container" [ngStyle]="{'filter': containerOn ? 'grayscale(0)' : 'grayscale(2)'}">
    <mlc-loaded-svg path="mini-lessons/executive-functions/acrostic/svg/indicator.svg" style="width:10vh;"></mlc-loaded-svg>
    <ox-text [originalText]="answerWord.id + ''" fontSize="4.5vh" color="white" font="dinnRegular" style="position: absolute; transform: translate(0vh, 2vh);"></ox-text>
</div>
 <div *ngFor="let word of beforeFirstHalfQuantity; let i = index" class="div-container" fxLayoutAlign="center center">
     <mlc-loaded-svg #squareImage0 [ngStyle]="{'filter': containerOn ? 'grayscale(0)' : 'grayscale(2)'}" [ngClass]="answerLargerThan6 ? 'letter-container-small': 'letter-container'" path="mini-lessons/executive-functions/acrostic/svg/container-orange.svg"></mlc-loaded-svg>
     <input #wordInput  
     (beforeinput)="write($event,i, firstHalfAnswer)"
     
     [(ngModel)]="firstHalfAnswer[i].txt" type="text" 
       style="width: 1px;height: 1px;" maxlength="1">
       <ox-text #wordOxText [originalText]="firstHalfAnswer[i].txt" (click)="updateFocus(i)" [ngClass]="answerLargerThan6 ? 'ox-text-small': 'ox-text'" fontSize="4.5vh" color="black" font="dinnRegular"></ox-text>
</div>
<div class="div-container" fxLayoutAlign="center center">
    <mlc-loaded-svg #squareImage1  path="mini-lessons/executive-functions/acrostic/svg/container-blue.svg" [ngClass]="answerLargerThan6 ? 'letter-container-small': 'letter-container'"></mlc-loaded-svg>
     <ox-text style="position: absolute;" [originalText]="mainLetter" fontSize="4.5vh" color="black" font="dinnRegular"></ox-text>
</div>
<div *ngFor="let word of afterFirstHalfQuantity; let i = index"  class="div-container"  fxLayoutAlign="center center">
        <mlc-loaded-svg #squareImage2 path="mini-lessons/executive-functions/acrostic/svg/container-orange.svg" [ngStyle]="{'filter': containerOn ? 'grayscale(0)' : 'grayscale(2)'}" [ngClass]="answerLargerThan6 ? 'letter-container-small': 'letter-container'"></mlc-loaded-svg> 
        <input #wordInput  (beforeinput)="write($event, i, secondHalfAnswer)" [(ngModel)]="secondHalfAnswer[i].txt" style="width: 1px;height: 1px;"
        type="text"  maxlength="1">
        <ox-text #wordOxText  [originalText]="secondHalfAnswer[i].txt" (click)="updateFocus(i + beforeFirstHalfQuantity.length)" [ngClass]="answerLargerThan6 ? 'ox-text-small': 'ox-text'" fontSize="4.5vh" color="black" font="dinnRegular"></ox-text>
</div>
<div div *ngFor="let space of spaceToAddRight" class="div-container" fxLayoutAlign="center center">
</div> 

</div>
<!-- (focus)="focusInput(i)"
      (keydown)="overwriteLetter($event, i)"
      -->
<!-- (focus)="focusInput(i + beforeFirstHalfQuantity.length)" 
        (keydown)="overwriteLetter($event, i + beforeFirstHalfQuantity.length)" 
         -->
